* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1D1D1D;
}

.container {
    width: 100%;
    max-width: 864px;
    margin: 56px auto;
}

header {
    margin-bottom: 32px;
}

h1 {
    font-size: 34px;
    font-weight: 600;
    color: #FFFFFF;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

form {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
}

input {
    background-color: #3F3356;
    color: #F7F5F9;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    padding: 0 16px;
    width: 160px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-right: 16px;
}

input::placeholder {
    color: #D0C9D6;
}

input:focus {
    border: 2px solid #584A73;
}

.input-error {
    outline: 1px solid #FF647C;
}

.primary-button {
    background-color: #6979F8;
    color: #3F3356;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
}

.primary-button:hover {
    background-color: #A5AFFB;
    cursor: pointer;
}

table {
    background-color: #3F3356;
    border: 1px solid #584A73;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 56px 0;
}

thead tr {
    display: none;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tabela-populada {
    padding: 0;
    gap: 0;
}

.tabela-populada thead {
    padding: 16px 0;
    background-color: #584A73;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tabela-populada tbody {
    width: 100%;
    gap: 0;
}

.tabela-populada tr, th, td {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabela-populada tbody tr {
    padding: 16px 0;
}

.tabela-populada tr:not(:last-child) {
    border-bottom: 1px solid #584A73;
}

.tabela-populada .emptyText, .tabela-populada .emptyImage {
    display: none;
}

